{% extends "hotel/base.html" %}

{% block title %}Home - Hotel{% endblock %}

{% block content %}
    <h2>Welcome to Hotel</h2>
    {% if user.is_authenticated %}
    {% if daily_quote %}
        <div class="api-section">
            <h3>Quote of the Day</h3>
            <blockquote>
                <p>"{{ daily_quote.quote }}"</p>
                <footer>- {{ daily_quote.author }}</footer>
            </blockquote>
        </div>
    {% endif %}
    
    {% if exchange_rates %}
        <div class="api-section">
            <h3>Current Exchange Rates (USD)</h3>
            <p>EUR: {{ exchange_rates.EUR }}</p>
            <p>GBP: {{ exchange_rates.GBP }}</p>
            <p>BYN: {{ exchange_rates.BYN }}</p>
            <p>RUB: {{ exchange_rates.RUB }}</p>
            <p><small>Updated at: {{ exchange_rates.timestamp }}</small></p>
        </div>
    {% endif %}
    {% endif %}

    
    {% if latest_article %}
        <div>
            <h3>Latest News: {{ latest_article.title }}</h3>
            <p>{{ latest_article.summary }}</p>
            <p>Published on: {{ latest_article.published_date|date:"F d, Y" }}</p>
        </div>
    {% else %}
        <p>No recent news available.</p>
    {% endif %}
{% endblock %}