{% extends "hotel/base.html" %}

{% block title %}{{ title }} - Hotel{% endblock %}

{% block content %}
    <h2>{{ title }}</h2>
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <h3>Room Information</h3>
        {{ form.as_p }}
        
        <h3>Room Images</h3>
        {{ image_formset.management_form }}
        
        {% for image_form in image_formset %}
            <div class="image-form">
                {{ image_form.as_p }}
                {% if image_form.instance.pk %}
                    <p>Current image: 
                        <img src="{{ image_form.instance.image.url }}" alt="Room image" style="max-width: 200px;">
                    </p>
                {% endif %}
                <hr>
            </div>
        {% endfor %}
        
        <button type="submit">Save</button>
    </form>
    
    <a href="{% url 'hotel:room_list' %}">Back to Room List</a>
{% endblock %}